script.
      var _gaq=[['_setAccount','UA-44959535-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
script(type='text/javascript', src='https://code.jquery.com/jquery-3.0.0.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js')

// Materialize
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js')

script(type='text/javascript', src='/lib/lodash/lodash.js')
script(type='text/javascript', src="/lib/cloudinary-core/cloudinary-core.js")

//AngularJS
script(type='text/javascript', src='https://code.angularjs.org/1.1.5/angular.min.js')
script(type='text/javascript', src='https://code.angularjs.org/1.1.5/angular-resource.min.js')
script(type='text/javascript', src='https://code.angularjs.org/1.1.5/angular-cookies.min.js')

// MomentJS
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js')

//EmojiOne
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.1/emojionearea.min.js')

// Cloudinary
script(type='text/javascript', src='/lib/cloudinary_ng/js/angular.cloudinary.js')
script(type='text/javascript', src="/lib/ng-file-upload/ng-file-upload.js")

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route.js')

//Application Init
script(type='text/javascript', src='/js/init.js')
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/socket.js')
script(type='text/javascript', src='/js/services/game.js')
script(type='text/javascript', src='/js/services/dashboard.js')
script(type='text/javascript', src='/js/services/friend.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/scroll.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/controllers/game.js')
script(type='text/javascript', src='/js/controllers/auth.js')
script(type='text/javascript', src='/js/controllers/invitePlayers.js')
script(type='text/javascript', src='/js/controllers/tour.js')
script(type='text/javascript', src='/js/controllers/dashboard.js')
script(type='text/javascript', src='/js/controllers/friend.js')
script(type='text/javascript', src='/js/init.js')

// Application components 
script(type='text/javascript', src='/js/directives/profile.js')
script(type='text/javascript', src='/js/directives/isLoading.js')

//Introjs
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js')

//Socket.io Client Library
script(type='text/javascript', src='/socket.io/socket.io.js')

//Livereload script rendered
//script(type='text/javascript', src='http://localhost:35729/livereload.js')
