<div id="info-container" ng-show="game.state === 'awaiting players' && checkToken() && custom">
  <div id="inner-info">
    <h5>Invite friends to play with you</h5>
    <form id="search-users" ng-submit="findUsers()" name="myForm">
      <div class="form-group col-md-10">
        <input ng-keyup="findUsers()" ng-model="searchKey" type='text' autocomplete="off" name='searchKey' placeholder="Search for friends">
        <small style="float: left; color: rgb(204, 88, 34)" class="form-text text-muted">{{ searchHelper }}</small>
      </div>
      <br>
    </form>
  </div>
  <div id='found-users' style="clear: both;">
    <div ng-show="showNotFound" style="color: rgb(226, 94, 94)"><br>Your search did not match any current user.</div>
    <table>
      <tr ng-repeat="user in foundUsers">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>
          <img ng-show="selectedUser === user" src='../img/loaders/spinner.gif' style="margin-right: 5px" width="20px" alt='spin'>
          <button style="width: 100px;" ng-show="invitedUsers.indexOf(user.email) === -1" ng-disabled="disableInviteButton" ng-click="sendInvitation(user)" class="btn btn-primary invite-button">
            invite
          </button>
          <button style="width: 100px;" ng-show="invitedUsers.indexOf(user.email) !== -1" ng-disabled="true" class="btn btn-default">
            <b>invited</b>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
<div id="donates">
  <div>
    <div class="how-to-help" id="info-container" ng-show="game.state === 'awaiting players'">
      <div>
        <div class="play-instructions">
          <h2>HOW TO PLAY</h2>
          <p class="play-step"><span>E</span>ach player except the czar starts with 10 answer cards</p>
          <p class="play-step"><span>A</span> player is randomly chosen as czar</p>
          <p class="play-step"><span>O</span>ther players answer the question card by selecting answer cards</p>
          <p class="play-step"><span>T</span>he Card Czar then picks a favorite answer, and whoever that answer wins</p>
        </div>
    </span>
  </div>
</div>
<div id="donate">
    <div ng-cloak id="cards-container" ng-hide="game.state === 'game ended' || game.state ==='game dissolved'">
      <div id="cards" class="hand answers">
        <span ng-show="winnerPicked()"></span>
        <div ng-style="{'cursor':'pointer'}" class="card item" id='answers' ng-click="pickCard(card)" ng-hide="showTable || isCzar()"
        ng-repeat="card in game.players[game.playerIndex].hand" ng-animate="{enter:'animated fadeInUp', leave: 'animated fadeInOut'}">
            <p ng-bind-html-unsafe="card.text" class="game-card-text"></p>
              <span id='selection-number' ng-show="showFirst(card)"> 1 </span>
              <span id='selection-number' ng-show="showSecond(card)"> 2 </span>
        </div>
        <span ng-repeat="answer in game.table">
            <div class="card item" ng-style="pointerCursorStyle()" id='table' ng-click="pickWinning(answer)" ng-show="showTable || isCzar()"
            ng-repeat="card in answer.card" ng-animate="{enter:'animated bounceInLeft'}" >
                <div ng-bind-html-unsafe="card.text"></div>
                <span id='selection-number' ng-show="firstAnswer($index)"> 1 </span>
                <span id='selection-number' ng-show="secondAnswer($index)"> 2 </span>
            </div>
        </span>
      </div>
    </div>
</div>
<div id="donate" ng-show="game.state === 'game ended' || game.state ==='game dissolved'">
  <div>
    <div class="donate-now">
      <div>
        <h2>DONATE</h2>
        <span>"For it is in giving that we receive." — Francis of Assisi</span>
        <div id='inner-text-container'>
          <a href='/play' class="waves-effect waves-light btn" id="start-btn">
            Join a New Game
          </a>
          <a href='/' class="waves-effect waves-light btn" id="start-btn">
            Return to Homepage
          </a>
        </div>
        <div class="row" ng-show="game.state === 'game ended'">
        </div>
      </div>
      <div class="row">
        <div class="col l4"><img src="./../img/donate.png" alt=""></div>
        <!-- <script type="text/javascript" src="https://www.crowdrise.com/widgets/donate/fundraiser/121142/?callback=userDonationCb"></script> -->
        <div class="col l4"></div>
        <div class="col l4"><img src="./../img/make-a-wish.png" alt=""></div>
      </div>
      <div>
        <span>Help yourself to another game or help a child in need? Donating will also place a lovely crown on your avatar's head.</span>
      </div>
    </div>
  </div>
</div>
<div id="czar-blank-container" class="czar-donate" ng-show="isCzar() && game.table.length===0 && game.state !== 'game dissolved' && game.state !== 'awaiting players'">
  <div id="czar-blank-inner">
    <p class="czar-blank-text">You are the Card Czar. <br></p>
    <span class="smaller-text">Players are choosing their answers. Prepare to select a winner.</span>
  </div>
  <div id='charity-fact-container'>
    <div id='charity-fact-tagline'>Did you know?</div>
    <div id='charity-fact'>
        {{ makeAWishFact }}
    </div>
    <div id='charity-logo-container'>
      <img src='/img/make-a-wish-logo.png'/>
    </div>
  </div>
</div>