<div id="app-container" ng-controller="GameController">
  <!-- Reusable Modal -->
  <div id="reuse-modal" class="modal">
    <div class="modal-dialog modal-sm">
      <!-- Modal content -->
      <div class="modal-content" style="background-color: white;">
        <div class="modal-header">
          <h4 class="modal-title center-align" style="color: #23522d;"></h4>
          <!-- modal-title -->
        </div>
        <div class="modal-body" style="text-align: center; margin-top: 10px" style="font-size: 1.8em;">
          <!-- modal-body -->
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
  <!-- Resusable Modal -->

  <!-- Tour Modal content -->
  <div id="tour-modal" class="modal" ng-controller="TourController">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" style="background-color: white;">
        <div class="modal-body" style="text-align: center; margin-top: 10px" style="font-size: 1.8em;">
          <p>Welcome to the gaming screen for Cards for Humanity. You are about to take a brief tour of the gaming area. Click
            Okay to continue or cancel if you know how to play already</p>
        </div>
        <div class="modal-footer">
          <button class="btn waves-effect waves-green modal-close" id="tour-chioce-btn" ng-click="takeNewUserTour()">Okay</button>
          <button class="btn waves-effect waves-green modal-close" id="tour-chioce-btn" ng-click="closeTourModal()">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Select region Modal content -->
  <div id="region-modal" class="modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" style="background-color: white;">
        <div class="modal-header">
            <h4 class="modal-title center-align" style="color: #23522d;">Select a Region</h4>
        </div>
        <div class="modal-body" style="text-align: center; margin-top: 10px" style="font-size: 1.8em;">
            <div class="modal-body" style="text-align: center; margin-top: 10px" style="font-size: 1.8em;">
              <select ng-model="region" style="display: block !important;">
                <option value="" selected disabled hidden>Select a Region</option>
                <option value="Africa">Africa</option>
                <option value="Europe">Europe</option>
                <option value="North America">North America</option>
              </select>
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn waves-effect waves-green modal-close" id="tour-chioce-btn" ng-disabled="!region" ng-click="startGameWithRegion()">Okay</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Czar's question modal -->
  <div class="modal fade open czar-modal" id="czarSelectCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="czar-modal-head">
          <h4>You are the CZAR</h4>
          <p>Choose a question card to start the round</p>
        </div>
        <div class="modal-body">
          <div class="row contain-cards">
            <ul class="czars-card" ng-click="shuffleCards($event)" id="czars-cards">
              <li>
                <img id="card1" class="card" src="../img/cards4.png" alt="czar card">
              </li>
              <li>
                <img id="card2" class="card" src="../img/cards4.png" alt="czar card">
              </li>
              <li>
                <img id="card3" class="card" src="../img/cards4.png" alt="czar card">
              </li>
              <li>
                <img id="card4" class="card" src="../img/cards4.png" alt="czar card">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end Czar's question modal -->
  <header id="menu-container" ng-controller="TourController">
    <nav class="white nav" data-target="mobile-demo" class="sidenav-trigger">
      <div class="nav-wrapper font-bold" ng-controller="AuthController">
        <a href="/" class="black-text text-darken-2 brand-logo left">
          <img src="https://res.cloudinary.com/dqsmurjpg/image/upload/v1530718726/Navbar_Logo.png" id="cfh-logo" alt="cfg-logo">
        </a>
        <a data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <span ng-show="!checkToken() && (game.state === 'game ended' || game.state === 'game dissolved')">
            <li>
              <a class="waves-effect waves-light red darken-4 btn white-text navbar-button" id="index-signup-btn" href="signup">SIGNUP</a>
            </li>
          </span>
          <span ng-click="logOut()" ng-show="(game.state === 'game ended' || game.state === 'game dissolved') && checkToken()">
            <li>
              <a class="waves-effect waves-light red darken-4 btn white-text navbar-button" id="index-signup-btn">LOGOUT</a>
            </li>
          </span>
          <span ng-hide="game.state === 'game ended' || game.state === 'game dissolved'">
            <li>
              <a class="waves-effect waves-light btn white-text navbar-button" id="tour-button" ng-click="takeGeneralTour()">Take a Tour</a>
            </li>
            <li>
              <a class="waves-effect waves-light red darken-4 btn white-text navbar-button" id="index-signup-btn" ng-click="abandonGame()">Abandon Game</a>
            </li>
          </span>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo" ng-controller="AuthController">
      <span ng-show="!checkToken() && (game.state === 'game ended' || game.state === 'game dissolved')">
        <li>
          <a class="navbar-button sidenav-close" id="index-signup-btn" href="signup">SIGNUP</a>
        </li>
      </span>
      <span ng-click="logOut()" ng-show="(game.state === 'game ended' || game.state === 'game dissolved') && checkToken()">
        <li>
          <a class="navbar-button sidenav-close" id="index-signup-btn">LOGOUT</a>
        </li>
      </span>
      <span ng-hide="game.state === 'game ended' || game.state === 'game dissolved'">
        <li>
          <a class="navbar-button sidenav-close" ng-click="takeGeneralTour()">Take a Tour</a>
        </li>
        <li>
          <a class="navbar-button sidenav-close" ng-click="abandonGame()">Abandon Game</a>
        </li>
      </span>
    </ul>
  </header>
  <div id="gameplay-container">
    <div id="upper-gameplay-container" class="row game-row">
      <div id="menu-timeremaining-container" class="col s5 m3 l3">
        <div id="timer-container">
          <timer></timer>
        </div>
      </div>
      <div id="question-container-outer" class="col s7 m9 l9">
        <question></question>
      </div>
    </div>
    <div class="row player-row">
      <div class="col s12 m3 l3" id="social-bar-container" ng-hide="game.state === 'game ended' || game.state === 'game dissolved'">
        <player class="row"></player>
      </div>
      <div ng-controller="InvitePlayersController" id="player" class="col s12 m9 l9 answer-div" ng-if="game.state !== 'game ended' && game.state !== 'game dissolved'">
        <answers ng-controller="AuthController"></answers>
      </div>
      <div class="col s12 m12 l12 answer-div" ng-if="game.state === 'game ended' || game.state === 'game dissolved'">
        <answers></answers>
      </div>
    </div>
    <div id="chat-box" ng-show="renderChatLog">
      <link rel="stylesheet" type="text/css" href="../css/chat.css" />
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
      <div id="chat-box-header" ng-click="toggleChatbox()">
        <div id="notification-count"> {{ notificationCount }}</div>
        <p>Chat</p>
      </div>
      <div id="chat-box-content-container">
      </div>
      <div id="chat-box-input">
        <textarea type="text" class="input-field" id="chat-input" name="message" ng-model="MessageInput"/>
        <i class="far fa-paper-plane" ng-click="SendMessage()"></i>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav();
      $('.modal').modal({
        dismissible: false
      });
      const isTourTaken = localStorage.getItem('#cfhuseristourtaken');
      if (isTourTaken === 'false') {
        $('#tour-modal').modal('open');
      }
    });
  </script>
</div>