<body>
  <header ng-controller="AuthController">
      <nav class="white nav" data-target="mobile-demo" class="sidenav-trigger">
        <div class="nav-wrapper font-bold" >
          <a href="/" class="black-text text-darken-2 brand-logo left">
            <img src="https://res.cloudinary.com/dqsmurjpg/image/upload/v1530718726/Navbar_Logo.png"
              id="cfh-logo" alt="cfg-logo">
          </a>
          <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li ng-show="checkToken()"><a class="waves-effect waves-light green darken-4 btn white-text" id="profile-button" href="/#!/dashboard">Dashboard</a></li>
            <li ng-show="checkToken()" ng-click="showProfile()"><a class="waves-effect waves-light green darken-4 btn white-text" id="profile-button">Show Profile</a></li>
            <li ng-show="checkToken()"><a ng-click="logOut()" class="waves-effect waves-light green darken-4 btn white-text" id="index-signup-btn">Sign Out</a></li>
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
        <li ng-show="checkToken()" ng-click="showProfile()"><a class="navbar-button sidenav-close">Show Profile</a></li>
        <li ng-show="checkToken()"><a class="navbar-button sidenav-close" href="/#!/dashboard">Dashboard</a></li>
        <li ng-show="checkToken()"><a ng-click="logOut()" class="navbar-button sidenav-close">Sign Out</a></li>
      </ul>
  </header>
  <div class="row dashboard center-align" ng-controller="DashboardController">
    <div class="container" id="dashboard-web-container">
      <div class="row">
        <div class="col m4 s12 dashboard-nav">
          <ul class="tabs">
            <li class="tab"><a  class="active" href="#leaderboard" ng-click="!games.data.length && fetchLeaderboard()">Leaderboard</a></li>
            <li class="tab"><a href="#gamelog" ng-click="!currentUser.games.data.length && fetchGamelog()">Gamelog</a></li>
            <!-- <li class="tab"><a href="#donations">Donations</a></li> -->
          </ul>
        </div>
        <div class="col m8 s12">
          <div id="leaderboard" class="col s12 tab-content">
            <!-- Loading indicator directive -->
            <div is-loading>
              <!-- Spinning preloader -->
              <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
              <!--  Ender Loader -->
              <br /><br />
              Loading ...
            </div>
            <section ng-show="!loadingIndicatorShow && games.data.length">
              <div class="row tab-header">
                <div class="col s4">Rank</div>
                <div class="col s4">Players</div>
                <div class="col s4">Games Won</div>
              </div>
              <div class="row card card-item" ng-repeat="game in games.data">
                <div class="col s4">{{game.rank}}</div>
                <div class="col s4">{{game.username}}</div>
                <div class="col s4">{{game.gamesWon}}</div>
              </div>
            </section>
            <div ng-show="games.status">{{games.data}}</div>
          </div>
          <div id="gamelog" class="col s12 tab-content">
            <!-- Loading indicator directive -->
            <div is-loading>
              <!-- Spinning preloader -->
              <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
                <!--  Ender Loader -->
                <br /><br />
                Loading ...
            </div>
            <div ng-show="!loadingIndicatorShow && currentUser.games.data.length">
              <!-- this should contain the game cards -->
              <div
                class="card col s12 m3 l3"
                ng-repeat="game in currentUser.games.data"
                id="game"  title="click to view game details">
                <div class="log-card-item">
                  <!-- the name -->
                  <div>
                    <p>Total players: 
                      <span class="bold">
                        {{ game.players.length }}
                      </span>
                    </p>
                  </div>
                  <div>
                    <p class="mb-0">Game Winner</p>
                    <p class="bold mt-0">{{ game.meta.gameWinner.username }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="currentUser.games.status">{{games.data}}</div>
          </div>
          <!-- <div id="donations" class="col s12 tab-content">
            <section class="center-align">
              <div class="row tab-header">
                <div class="col s6">Players</div>
                <div class="col s6">Donations</div>
              </div>
              <div class="row card card-item" ng-repeat="player in players">
                <div class="col s6">{{player.username}}</div>
                <div class="col s6">{{player.donations}}</div>
              </div>
              <h3>No Donations have been made</h3>
            </section> 
          </div>-->
        </div>
      </div>
    </div>
  </div>
  <!-- the profile page of the user -->
  <div class="profile-container" style="display:none;"> 
    <profile-page></profile-page>
    </div>
  </div>
</body>

<script>
  $(document).ready(function(){

  });
</script>
