<div id="main-bod" ng-controller="IndexController">
  <!-- Fixed Logo & Menu Bar Start -->
    <header>
      <nav class="white nav">
        <div class="nav-wrapper font-bold">
          <a href="/" class="black-text text-darken-2 brand-logo left">
            <img src="https://res.cloudinary.com/dqsmurjpg/image/upload/v1530718726/Navbar_Logo.png"
              id="cfh-logo" alt="cfg-logo">
          </a>
        </div>
      </nav>
    </header>
<!-- Fixed Logo & Menu Bar End -->

<!-- Landing Start -->
  <section class="login login-image-overlay white-text" id="auth">
    <div class="row center-align">
      <div class="row m12 font-bold auth-component">
        <h3 class="font-bold auth-text">Log In</h3>
         <div class="sign-error" ng-show="showError() === 'invalid'">
            Please check your username/password and try again.
          </div>
        <form class="col s12" ng-controller="AuthController">
          <div class="auth-input">s
            <div class="input-field col s12">
              <input id="email" type="text" name="email" ng-model="user.email" placeholder="Email" required novalidate />
            </div>
          </div>
          <div class="auth-input">
            <div class="input-field col s12">
              <input id="password" type="password" ng-model="user.password" name="password" placeholder="Password" required novalidate />
            </div>
          </div>
          <div class="auth-input">
            <button class="btn col s12 green darken-4 font-lg font-quick-sand auth-btn" ng-click="SignInUser()">LOG IN</button>
          </div>
        </form>
      </div>
    </div>
    <div>
        <p class="separator">Or</p>
    </div>
    <div>
      <a href="/auth/facebook">
        <div class="auth-icon">
          <i class="fab fa-facebook-f"></i>
        </div>
      </a>
      <a href="/auth/twitter">
        <div class="auth-icon">
          <i class="fab fa-twitter"></i>
        </div>
      </a>
      <a href="/auth/google">
        <div class="auth-icon">
          <i class="fab fa-google"></i>
        </div>
      </a>
    </div>
  </section>

  <!-- Footer start -->
  <footer class="center-align black white-text flow-text footer">
    <p>
      Designed with <span class="green-text text-darken-3">&#10084;</span> By the ET team
    </p>
  </footer>
  <!-- Footer end -->
</div>
