<div id="main-bod" ng-controller="IndexController">
  <!-- Fixed Logo & Menu Bar Start -->
    <header>
      <nav class="white nav">
        <div class="nav-wrapper font-bold">
          <a href="/" class="black-text text-darken-2 brand-logo left">
            <img src="https://res.cloudinary.com/dqsmurjpg/image/upload/v1530718726/Navbar_Logo.png"
              id="cfh-logo" alt="cfg-logo">
          </a>
        </div>
      </nav>
    </header>
<!-- Fixed Logo & Menu Bar End -->

<!-- Landing Start -->
  <section class="login signin-image-overlay white-text" id="auth" ng-controller="AuthController">
    <div class="row center-align">
      <div class="row m12 font-bold auth-component">
        <h3 class="font-bold auth-text">Signup</h3>
        <div class="sign-error" ng-show="authError !== ''">
          <p>{{ authError }}</p>
        </div>
        <form ng-submit="SignUpUser()" class="col s12">
          <div class="auth-input">
            <div class="input-field col s12">
              <input id="fullname" type="text" pattern="^(?=.*[a-z])(?=.*[A-Z]).+$"
              title="The name must contain at least one uppercase letter, lowercase letter and a space"
              name="fullname" ng-model="newUser.name" placeholder="Full Name" required />
            </div>
          </div>
          <div class="auth-input">
            <div class="input-field col s12">
              <input id="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" ng-model="newUser.email" placeholder="Email" required/>
            </div>
          </div>
          <div class="auth-input">
            <div class="input-field col s12">
              <input id="password" type="password" name="password" pattern=".{4,}" title="Four or more characters" ng-model="newUser.password" placeholder="Password" required />
            </div>
          </div>
          <div class="col s12">
            <button data-target="modal1" ng-click="openModal()" class="modal-trigger center-align" id="choose-avatar" >Click to upload profile picture</button>
          </div>
          <div class="auth-input">
            <button class="btn col s12 green darken-4 font-lg font-quick-sand auth-btn">SIGN UP</button>
          </div>
        </form>
      </div>
    </div>
    <div>
        <p class="separator">Or</p>
    </div>
    <div>
      <a href="/auth/facebook">
        <div class="auth-icon">
          <i class="fab fa-facebook-f"></i>
        </div>
      </a>
      <a href="/auth/twitter">
        <div class="auth-icon">
          <i class="fab fa-twitter"></i>
        </div>
      </a>
      <a href="/auth/google">
        <div class="auth-icon">
          <i class="fab fa-google"></i>
        </div>
      </a>
    </div>
    <div id="modal1" class="modal">
      <div class="modal-content black-text">
        <h4>Upload profile Picture</h4>
          <div class="row">
            <img ng-src="{{imagePreview}}" class="imagepreview" >
          </div>
          <div class = "row">
            <label>Profile Image</label>
            <div class = "file-field input-field" style="padding: 0 !important;">
            <div class = "btn upload-btn">
              <span>Upload</span>
              <input type="file" ng-change="viewImage()" ngf-select ng-model="profilePic" name="profilePic" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" />
            </div>
            
            <div class = "file-path-wrapper">
              <input class = "file-path validate" type = "text"
                placeholder = "Upload Image" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button data-target="modal1" ng-click="closeModal()" class="modal-close modal-footer-btn" >Close</button>
      </div>
    </div>
  </section>

  <!-- Footer start -->
  <footer class="center-align black white-text flow-text footer">
    <p>
      Designed with <span class="green-text text-darken-3">&#10084;</span> By the ET team
    </p>
  </footer>
  <!-- Footer end -->
</div>
<script>
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>