/* Fola Start */
.banner {
  background-image: url("http://res.cloudinary.com/dffiyhgto/image/upload/c_scale,w_1594/v1530706947/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

.overlay {
  content: '';
position: absolute;
background: linear-gradient(rgba(96, 99, 100, 0.3), rgba(0,0,0,0.3));
    width: 100%;
    height: 90vh;
}
.cfh-head {
  color: white;
  font: Bold 4rem 'Quicksand';
  position: relative;
  text-align: center;
}

.cfh-text {
  color: white;
  position: relative;
  margin-top: 3%;
  margin-bottom: 3%;
  justify-content: center;
  text-align: center;
}

.cfh-btn {
  text-align: center;
}

.play-btn {
  color: white;
  background-color: transparent;
  border-color: white;
  border: 2px solid;
}

.login-btn {
  background-color: #236231;
}

.Header
{
    width: 100%;
    height: 80px;
}
.card.col.s9{
  margin: 20px auto;
  padding: 0px;
  border-radius: 7px;
  float: none;
  background-color: #E5E5E5;
}
.card-image {
  width: 50%;
  display: block;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 15px;
}

.card .card-image img{
  height: 50%;
  margin: auto;
  width: 70%;
}

.card .card-image .card-title {
  position: relative;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  color: black;
  clear: both;
}

.card .card-content {
  background-color: black;
  color: white;
  text-align: center;
  height: 150px;
}

.play-head h1{
  font: Bold 3rem 'Quicksand';
  text-align: center;
}

.play-foot, .login-btn {
  text-align: center;
}


@media screen and (min-width: 767px) {
  .banner {
    padding: 2%;
  }
  .cfh-head {
    color: white;
    margin-top: 10%;
    text-align: left;
  }
  .cfh-text {
    color: white;
    margin-top: 3%;
    margin-bottom: 3%;
    font: 1.5rem 'Quicksand';
    text-align: left;
  }
  .cfh-btn {
    text-align: left;
    margin-top: 5%;
  }

  .play-foot, .login-btn {
    font: Bold 2rem 'Quicksand';
  }
}

/* Fola End */